@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }
    .title {
      color: #6f6cd1;
      font-size: 12px;
      font-weight: 700;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        padding: 15px;
        width: 250px;
        border: none;
        border-bottom: 1px solid #a7bcff;
        // border-left: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(154, 158, 163);
        }
      }
      button {
        background-color: #6583e6;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }
    p {
      color: #2074c9;
      font-size: 13px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin-top: 10px;
      span:hover {
        cursor: pointer;
        color: rgb(1, 204, 79);
      }
    }
  }
}
